<div id="sidebar_post">
    <div id="post_info">
        {{!-- 
        <header class="major">
            <h2>{{t "about the author"}}</h2>
        </header> 
        --}}
        {{!-- Author info --}}
        {{!-- 
        {{#primary_author}}
        <div class="authors">
            {{>widget_authorinfo}}
        </div>
        {{/primary_author}} 
        --}}
        

        {{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
        {{#unless @member}}
        <section class="footer-cta">
            <div class="inner">
                <h2>Sign up for more like this.</h2>
                <a class="footer-cta-button" href="#/portal">
                    <div>Enter your email</div>
                    <span>Subscribe</span>
                </a>
                {{!-- ^ This looks like a form element, but it's just a link to Portal,
                making the form validation and submission much simpler. --}}
            </div>
        </section>
        {{/unless}}

        {{#if tags}}
            {{>widget_tags}}
        {{/if}}

        {{>widget_post_share}}
    </div>
</div>