<div id="article-commento-loader" class="article-commento">
    <a id="comment-loader" onclick="window.ak.loadComments()" class="commento-loader">
        <span class="button loader-title">
            {{t "loadComments"}}
        </span>
    </a>
</div>
<div id="article-commento-container" class="article-commento-container">
    
    <div id="commento"></div>
</div>


<script>
    (function(win, $){
        win.ak = win.ak || {};
        var ak = win.ak;

        var loadComments = function(){
            var absoluteUrl = win.commento_url + '/js/commento.js';
            var tag = document.createElement('script');
            tag.src = absoluteUrl;
            tag.setAttribute('defer','');

            var cssUrl = '/assets/commento/css/commento.css';

            if(typeof commento_css != 'undefined'){
                cssUrl = commento_css;
            }
            if(cssUrl){
                tag.setAttribute('data-css-override',cssUrl);
            }
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            //win.commento.main();
            $('#article-commento-loader')[0].hidden = true;
        };

        $(document).ready(function(){

            if(typeof commento_url == 'undefined' || commento_url == '') {
                $('#article-commento-loader')[0].remove();
                $('#article-commento-container')[0].remove();
            } else{
                if(typeof commento_auto != 'undefined' && commento_auto != '' && (commento_auto == 'true' || commento_auto == true)) {
                    loadComments();
                }
            }
        });

        ak.loadComments = function(){
            loadComments();
        };
    })(window, window.jQuery)
</script>