{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{#unless @member}}
<div class="inner">
    <h2>{{t "subscribe text"}}</h2>
    <a class="subscription-button" href="#/portal">
        <div>{{t "Enter your Email"}}</div>
        <span>{{t "Subscribe"}}</span>
    </a>
</div>
{{/unless}}