<div class="article-commento-container">
    <script defer src="https://<commento-url>/js/commento.js" data-css-override="{{asset "commento/css/commento.css"}}" data-auto-init="true"></script>
    
    <div id="commento"></div>
</div>